---
layout: default
---

<article class="post">

  <div id="navbar" class="container">
    <h5><a id="link-back" href="/">← Back to Posts</a></h5>
    {% include share.html page=page %}
  </div>

  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            &#xE000; {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            {{ page.next.title }} &#xE001;
          </a>
      </span>
    {% endif %}
  </div>

<!-- 페이스북 댓글 -->
<!--   <div class="fb-post" data-href="https://jiahur.github.io" data-width="750" data-show-text="true"></div> -->


<!-- disqus 댓글 -->
{% include disqus.html %}

</article>
